/* Toda a página */

body {
  margin: 0;

  background: rgba(41, 114, 252, 1);

  height: 100vh;
}

/* Barra de navegação */

.indexPage-navbar {
  display: flex;
  justify-content: right;

  height: 8vh;
}

.indexPage-navbar ul {
  display: flex;

  list-style-type: none;
}

.indexPage-navbar ul li {
  margin-right: 10px;

  padding-right: 10px;

  border-right: 1px solid #FFF;
}

.indexPage-navbar ul li:last-child {
  border-right: none;
}

.indexPage-navbar a {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;

  padding: 5px;

  border-radius: 5px;
}

.indexPage-navbar a:hover {
  color: #000;
  background-color: #FFF;
}

/* Conteúdo da página */

.indexPage-content {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92vh;
}