/* Toda a página */

body {
    margin: 0;

    background: rgba(41, 114, 252, 1);

    height: 100vh;
}

/* Barra de navegação */

.loginPage-navbar {
    display: flex;
    justify-content: space-between;

    height: 8vh;

    padding: 0 5px;
}

.loginPage-navbar img {
    width: 150px;
}

.loginPage-navbar ul {
    display: flex;

    list-style-type: none;
}

.loginPage-navbar ul li {
    margin-right: 10px;

    padding-right: 10px;

    border-right: 1px solid #FFF;
}

.loginPage-navbar ul li:last-child {
    border-right: none;
}

.loginPage-navbar a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;

    padding: 5px;

    border-radius: 5px;
}

/*
.loginPage-navbar a:hover{
    color: #000;
    background-color: #FFF;
}
    */

/* Conteúdo da página */

.loginPage-content {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 92vh;
}

.loginPage-content label {
    color: #FFF;
}

.loginPage-content input {
    padding: 3px;

    margin-top: 3px;
    margin-bottom: 5px;
}

.loginPage-content input[type="submit"] {
    border-radius: 5px;
    border: 0;

    font-size: 15px;
}