/* Toda a página */

body {
    margin: 0;
    font-family: Super Creamy !important;
    background: rgba(41, 114, 252, 1);  
    height: 100vh;
}

/* Barra de navegação */

.loginPage-navbar {
    display: flex;
    justify-content: space-between;

    height: 8vh;

    padding: 0 5px;
}

.loginPage-navbar img {
    width: 150px;
}

.loginPage-navbar ul {
    display: flex;

    list-style-type: none;
}

.loginPage-navbar ul li {
    margin-right: 10px;

    padding-right: 10px;

    border-right: 1px solid #FFF;
}

.loginPage-navbar ul li:last-child {
    border-right: none;
}

.loginPage-navbar a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;

    padding: 5px;

    border-radius: 5px;
}

/*
.loginPage-navbar a:hover{
    color: #000;
    background-color: #FFF;
}
    */

/* Conteúdo da página */

.loginPage-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px #222;
    background-color: #2250D5;
    margin-top: 10rem;
}

.loginPage-content label {
    color: #FFF;
    font-size: 1rem;
}

.loginPage-content input {
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 5px;
    border: none;
    width: 240px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.loginPage-content input[type="submit"] {
    border-radius: 5px;
    border: 0;
    box-shadow: 2px 2px 2px #222;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Super Creamy !important;
}

.loginPage-content input[type="submit"]:hover {
    transform: scale(1.06);
    transition: all .45s ease;
}