/* The Modal (background) */
.modal {
  /* display: none; Hidden by default */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 4% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  height: 70%;
  border-radius: 50px;
  background-image: url("../images/dog.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.modal-content::after {
  z-index: 2;
  border-radius: 50px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.438);
  width: 100%;
  height: 100%;
  content: "";
}

.modal-content .head {
  position: relative;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.589);
  color: red;
  padding: 20px;
  text-align: center;
  font-size: 55px;
}
.btn-again {
  position: relative;
  z-index: 20;
  cursor: pointer;
  margin: 170px auto 0;
  width: 260px;
  height: 100px;
  background-color: var(--bg-button);
  border: 5px solid black;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: var(--color-btn);
}
.btn-again:hover {
  background-color: var(--bg-button-hover);
  color: var(--color-btn-hover);
  width: 240px;
  height: 77;
  font-size: 35px;
}

@media only screen and (max-width: 950px) {
}

@media only screen and (max-width: 530px) {
  .modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    width: 90%; /* Could be more or less, depending on screen size */
    height: 70%;
    border-radius: 30px;
  }
  .modal-content::after {
    border-radius: 30px;
    width: 100%;
    height: 100%;
  }

  .modal-content .head {
    padding: 10px;
    font-size: 35px;
  }
  .btn-again {
    margin: 170px auto 0;
    width: 220px;
    height: 89px;
    border: 5px solid black;
    border-radius: 100px;
    font-size: 30px;
  }
  .btn-again:hover {
    width: 240px;
    height: 77;
    font-size: 35px;
  }
}
